@charset "UTF-8";
/*0f1626*/
/*69B578 light green, 3A7D44 抹茶綠*/
body {
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  list-decoration: none;
  font-family: Lucida Console; }

.wrap {
  margin: 0;
  background: #011627;
  /*background:linear-gradient(to bottom, #568fa0, #001120 33%,  #001120 50%, #568fa0);*/ }

svg {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

a:hover {
  text-decoration: none !important; }

.navigation {
  color: #8e6421;
  font-size: 20px;
  background-color: transparent;
  width: 100%;
  right: 0; }
  .navigation ul {
    text-align: right;
    margin-bottom: 0;
    margin-right: 15px; }
  .navigation li {
    margin: 20px;
    display: inline-block; }
    .navigation li:hover a:after, .navigation li:hover a:before {
      width: 100%; }
  .navigation a {
    color: #8e6421;
    position: relative;
    padding: 5px 0; }
    .navigation a:hover {
      text-decoration: none;
      color: #8e6421; }
    .navigation a:after, .navigation a:before {
      width: 0;
      content: "";
      height: 1px;
      background-color: #8e6421;
      position: absolute;
      transition: width .2s; }
    .navigation a:before {
      top: 0;
      left: 0; }
    .navigation a:after {
      bottom: 0;
      right: 0; }

h1 {
  animation: slideIn-left 2s ease;
  white-space: nowrap;
  margin-bottom: 0px; }

small {
  animation: slideIn_right 2s ease;
  white-space: nowrap; }

.navigation.offtop {
  position: fixed;
  background: #011627;
  color: #8e6421;
  height: 60px;
  z-index: 7;
  transition: .3s; }
  .navigation.offtop > ul {
    padding-top: 5px; }

.navigation.offtop a:hover {
  color: #ab987a; }

.intro {
  color: #8e6421;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 450px;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .intro .link {
    margin-top: 30px; }
    .intro .link > a {
      margin-right: 15px;
      padding: 8px 10px;
      border: 1px solid #8e6421;
      transition: all .5s;
      color: #8e6421; }
      .intro .link > a:nth-of-type(2) {
        background: #8e6421;
        color: #011627; }
      .intro .link > a:hover {
        box-shadow: 0px 0px 6px 1px #8e6421 !important;
        transform: translateY(-5px); }
  .intro > .moon {
    position: fixed;
    left: 0;
    display: none;
    top: 200px;
    z-index: 0; }
    .intro > .moon:after {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      content: "";
      background: #f5f5f5;
      box-shadow: 4px 4px 12px 4px #86bade80;
      left: -12px;
      animation: move 2s ease; }
  .intro > .trees {
    position: absolute;
    bottom: 0;
    max-height: 150px;
    width: 100%;
    z-index: 5; }
    .intro > .trees img {
      width: 100%; }

.skill {
  background: #f5f5f5;
  padding: 5%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;
  z-index: 2;
  padding-top: 100px; }
  .skill h2 {
    color: #011627; }
  .skill .bar {
    margin: 5px 0;
    align-items: flex-end;
    display: flex; }
    .skill .bar img, .skill .bar i, .skill .bar div {
      width: 40px;
      height: 32px; }
    .skill .bar:first-child span {
      width: 40px;
      height: 32px;
      font-size: 23px;
      border: 1px solid;
      border-radius: 8px; }
    .skill .bar p {
      display: inline-block;
      width: 0;
      height: 5px;
      background-color: #8e6421;
      margin-left: 10px;
      border-radius: 5px; }
  .skill > .content_work {
    color: #6F8AB7; }
    .skill > .content_work .two_column > div {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      padding: 5%; }
      .skill > .content_work .two_column > div img {
        padding-bottom: 3%; }
    .skill > .content_work > hr {
      height: 1px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), #6F8AB7, rgba(0, 0, 0, 0)); }
    .skill > .content_work > .row {
      margin-bottom: 8vw; }
      .skill > .content_work > .row > div {
        padding: 5% 0;
        width: 100%;
        display: flex;
        align-items: center; }
        .skill > .content_work > .row > div:nth-of-type(2) {
          padding: 5%; }
        .skill > .content_work > .row > div.content {
          text-align: left;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          text-align: left; }
          .skill > .content_work > .row > div.content a {
            display: block;
            margin-top: 10px; }
        .skill > .content_work > .row > div img {
          width: 100%; }
        .skill > .content_work > .row > div h3 {
          width: 100%;
          color: #011627; }
  .skill > .content {
    padding: 5vw 20px 8vw;
    margin: 50px auto;
    color: #6F8AB7; }
    .skill > .content:nth-child(2) {
      background: none;
      width: 100%;
      justify-content: center; }
      .skill > .content:nth-child(2) h2 {
        text-align: center;
        white-space: normal;
        margin-bottom: 30px;
        color: #011627; }
    .skill > .content:nth-child(3) {
      color: #6F8AB7;
      flex-direction: column;
      align-items: flex-start; }
      .skill > .content:nth-child(3) h2 {
        color: #011627; }
    .skill > .content > hr {
      height: 1px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), #6F8AB7, rgba(0, 0, 0, 0)); }
  .skill:after {
    content: "";
    position: absolute;
    top: 0px;
    border-top: solid 7vw #00111f;
    border-left: solid 17vw transparent;
    border-right: solid 81vw transparent; }

.more {
  padding: 10%;
  color: #8e6421;
  display: flex;
  background: #011627;
  position: relative;
  z-index: 2;
  align-items: center; }
  .more .content {
    padding: 20px; }
  .more img {
    max-width: 350px; }
  .more h4 {
    background: #8e6421;
    color: #f5f5f5; }

.learn_more {
  border: 1px solid #6F8AB7;
  border-radius: 8px;
  padding: 7px 10px 5px;
  color: #011627; }

.svg-snowscene {
  width: 100%;
  height: 100vh; }

.snow {
  fill: #fff;
  animation-name: snowing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out; }
  .snow:nth-child(2n) {
    animation-delay: 1.5s; }
  .snow:nth-child(3n) {
    animation-delay: 2.3s;
    animation-duration: 3.3s; }
  .snow:nth-child(4n) {
    animation-delay: 0.8s;
    animation-duration: 3.2s; }

/*animation*/
@keyframes snowing {
  0% {
    fill-opacity: 1; }
  100% {
    fill-opacity: 0;
    transform: translateY(400px); } }
@keyframes slideIn-left {
  from {
    margin-right: -900px; }
  to {
    margin-left: 0; } }
@keyframes slideIn_right {
  from {
    margin-left: -900px; }
  to {
    margin-right: 0; } }
@keyframes move {
  0% {
    transform: translateY(200px); }
  100% {
    transform: translateY(0px); } }
/*media query*/
@media screen and (max-width: 768px) {
  .intro > .moon {
    top: 350px;
    left: -42px; } }

/*# sourceMappingURL=style.css.map */
