$background: #011627;
$background_bottom:#6F8AB7;
$font-color:#8e6421;
$second-background:#f5f5f5;
$font-hover:#690500;
body{overflow-x:hidden}
*{
margin:0;padding:0;list-decoration:none;font-family:Lucida Console}
.wrap{
	margin:0;
	background:$background;
	/*background:linear-gradient(to bottom, #568fa0, #001120 33%,  #001120 50%, #568fa0);*/
}
svg{position:absolute;top:0;width:100%;z-index:1}
a:hover{text-decoration:none !important}
.navigation{
	color:$font-color;
	font-size:20px;
	background-color:transparent;
	width:100%;right:0;
	ul{
		text-align: right;
		margin-bottom:0;
		margin-right:15px
	}
	li{
		margin:20px;
		display:inline-block;
		&:hover a:after, &:hover a:before{
			 width:100%;
		}
	}
	a{
		color:$font-color;
		position:relative;
		padding:5px 0;
		&:hover{
			text-decoration:none;
			color:$font-color;
		}
		&:after, &:before{
			width:0;
			content:"";
			height:1px;
			background-color:$font-color;
			position:absolute;
			transition:width .2s;
		}
		&:before{
			top:0;
			left:0;
		}
		&:after{
			bottom:0;
			right:0;
		}
	}
}
h1{animation:slideIn-left 2s ease ;white-space:nowrap;margin-bottom: 0px;}
small{
	animation:slideIn_right 2s ease;
	white-space:nowrap;
}
.navigation.offtop{
	position:fixed;
	background:$background;
	color:$font-color;
	height:60px;
	z-index:7;
	transition:.3s;
	>ul{
		padding-top:5px
	}
}
.navigation.offtop a:hover{
	color:#ab987a;
}
.intro{
	color:$font-color;
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:450px;
	width:100%;
	position:relative;
	overflow:hidden;
	.link{
		margin-top:30px;
		>a{
				margin-right:15px;
				padding:8px 10px;
				border:1px solid $font-color;
				transition:all .5s;
				color: $font-color;
				&:nth-of-type(2){
						background:$font-color;
						color:$background;
				}
				&:hover{
						box-shadow: 0px 0px 6px 1px $font-color !important;
						transform:translateY(-5px);
				}
		}
	}
	> .moon{
		position:fixed;
		left:0;
		display:none;
		top:200px;
		z-index:0;
		&:after{
				position: absolute;
				width: 200px;
				height: 200px;
				border-radius: 50%;
				content: "";
				background: #f5f5f5;
				box-shadow: 4px 4px 12px 4px #86bade80;
				left: -12px;
				animation:move 2s ease;
		}
	}
	> .trees{
		position:absolute;
		bottom:0;
		max-height: 150px;
		width:100%;
		z-index:5;
		img{
				width:100%
		}
	}
}
.skill{
	background:$second-background;
	padding:5%;
	display:flex;
	justify-content:space-around;
	text-align:center;
	position:relative;
	z-index:2;
	padding-top:100px;
	h2{
		color:$background;
	}
	.bar{
		margin:5px 0;
		align-items: flex-end;
		display:flex;
		img, i, div{
			width:40px;
			height:32px;
		}
		&:first-child span{
			width:40px;
			height:32px;
			font-size: 23px;
			border: 1px solid;
			border-radius: 8px;
		}
		p{
			display:inline-block;
			width:0;
			height:5px;
			background-color:$font-color;
			margin-left:10px;
			border-radius:5px
		}
	}
	>.content_work{
		color:$background_bottom;
		.two_column{
			>div{
				flex-direction:column;
				align-items:flex-start;
				text-align:left;
				padding:5% !important;
				img{
					padding-bottom:3%;
				}
			}
		}
		> hr{
			height:1px;
			background:linear-gradient(to right, rgba(0,0,0,0), $background_bottom, rgba(0,0,0,0));
		}
		>.row{
			margin-bottom:8vw;
			> div{
					padding:5% 0;
					width:100%;
					display:flex;
					align-items:center;
				&:nth-of-type(2){
					padding:5%;
				}
				&.content{
					text-align:left;
					flex-direction:column;
					justify-content: center;
					align-items: flex-start;
					text-align:left;
					a{display:block;margin-top:10px}
				}
				img{
					width:100%;
				}
				h3{width:100%;color:$background}
			}
		}
	}
	>.content{
		padding:5vw 20px 8vw;
		margin:50px auto;
		color:$background_bottom;
		&:nth-child(2){
			background:none;
			width:100%;
			justify-content:center;
			h2{
				text-align:center;
				white-space:normal;
				margin-bottom:30px;
				color:$background;
			}
		}
		&:nth-child(3){
			color:$background_bottom;
			flex-direction:column;
			align-items: flex-start;
			h2{
				color:$background;
			}
		}
		> hr{
			height:1px;
			background:linear-gradient(to right, rgba(0,0,0,0), $background_bottom, rgba(0,0,0,0));
		}
	}
	 &:after{
			content:"";
			position:absolute;
			top:0px;
			border-top: solid 7vw #00111f;
			border-left: solid 17vw transparent;
			border-right: solid 81vw transparent;
	}
}
.more{
	padding:10% 10% 2%;
	color:$font-color;
	display:flex;
	background:$background;
	position:relative;
	z-index:2;
	.content{
		padding:20px 30px;
	}
	img{
		max-width:350px;
	}
	h4{
		background:$font-color;
		color:$second-background;
		padding:5px 7px 3px;
	}
	ul{
		padding-left:20px;
		li:nth-of-type(odd){
			margin-top:5px;
		}
	}
	.col-12{
		margin-top:5vw;
		text-align:center;
		>p{
			padding:15px 5% 0;
			border-top:1px solid $font-color;
		}
	}
}
.learn_more{
	border: 1px solid $background_bottom;
	border-radius: 8px;
	padding: 7px 10px 5px;
	color:$background;
	display:inline-block;
	margin-top:10px;
	&:hover{
		color:$second-background;
		background:$background_bottom;
		border:none;
	}
}
//snow
.svg-snowscene {
	width: 100%;height:100vh;
}
.snow {
	fill: #fff; 
	animation-name: snowing;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	&:nth-child(2n){
		animation-delay: 1.5s;
	}
	&:nth-child(3n){
		animation-delay: 2.3s;
		animation-duration: 3.3s;
	}
	&:nth-child(4n){
		animation-delay: 0.8s;
		animation-duration: 3.2s;
	}
}

/*animation*/
@keyframes snowing {
	0%{ fill-opacity: 1; }
	100% { 
		fill-opacity: 0;
		transform: translateY(400px);
	}
}
@keyframes slideIn-left {
	from{
		 margin-right: -900px;
	}
	to {
		margin-left: 0;
	}
}
@keyframes slideIn_right {
	from{
		 margin-left: -900px;
	}
	to {
		margin-right: 0;
	}
}
@keyframes move{
	0%{
		 transform:translateY(200px);
	}
	100% {
		transform:translateY(0px);
	}
}
