/*參考色白:#f5f5f5
奶茶#ab987a, 深灰藍0f1626, 珊瑚ff685d, csc1c0輝
*/
$background: #001120;/*0f1626*/
$font-color:#f5f5f5;
$second-background:#d9d9d9;
$font-hover:#007bff;
*{
margin:0;padding:0;list-decoration:none;font-family:Lucida Console}
.wrap{
  margin:0;
  background:linear-gradient(to bottom, #568fa0, #001120 33%,  #001120 50%, #568fa0);
}
svg{position:absolute;top:0;width:100%;z-index:1}
.navigation{
  color:$font-color;
  font-size:20px;
  background-color:transparent;
  width:100%;right:0;
  ul{text-align: right;}
  li{
    margin:20px;
    display:inline-block;
    &:hover a:after, &:hover a:before{
       width:100%;
    }
  }
  a{
    color:$font-color;
    position:relative;
    padding:5px 0;
    &:hover{
      text-decoration:none;
      color:$background;
    }
    &:after, &:before{
      width:0;
      content:"";
      height:1px;
      background-color:$background;
      position:absolute;
      transition:width .2s;
    }
    &:before{
      top:0;
      left:0;
    }
    &:after{
      bottom:0;
      right:0;
    }
  }
}
h1{animation:slideIn-left 2s ease ;white-space:nowrap;}
small{
  animation:slideIn_right 2s ease;
  white-space:nowrap;
}
.navigation.offtop{
  position:fixed;
  background:$background;
  color:#ab987a;
  height:60px;
  z-index:3;
  transition:.3s;
}
.navigation.offtop a:hover{
  color:#ab987a;
}
.intro{
  color:#f5f5f5;
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:400px;
  width:100%;
  z-index:1;
  position:relative;
  overflow:hidden;
  > .trees{
    position:absolute;
    bottom:0;
    max-height: 150px;
  }
}
.skill{
  //background: url(https://picsum.photos/id/119/200/300) bottom fixed;/*#d9d9d9*/
  //background-size:cover;
  background:#131417;
  color:#ab987a;
  padding:5%;
  display:flex;
  justify-content:space-around;
  text-align:center;
  position:relative;
  padding-top:100px;
  .bar{
    margin:5px 0;
    align-items: flex-end;
    display:flex;
    img, i, div{
      width:40px;
      height:32px;
    }
    p{
      display:inline-block;
      width:calc(100% - 32px);
      height:5px;
      background-color:#ab987a;
      margin-left:10px;
      border-radius:5px
    }
  }
  >.content{
  //background:rgba(0,17,32,.8);
    //background:rgba(255,255,255, .5);
    padding:20px;
    margin:50px auto;
    color:#ab987a;
    &:nth-child(2){
      background:none;
      width:100%;
      h2{
        text-align:left;
        white-space:normal;
      }
    }
    &:nth-child(3){
      color:#ab987a;
      flex-direction:column;
      align-items: flex-start;
      h2{
        color:$background;
      }
    }
    > hr{
      height:1px;
      background:linear-gradient(to right, rgba(0,0,0,0), rgba(171,152,122,0.75), rgba(0,0,0,0));
    }
  }
   &:after{
      content:"";
      position:absolute;
      top:0px;
      border-top: solid 7vw $background;
      border-left: solid 17vw transparent;
      border-right: solid 81vw transparent;
  }
}
.more{
  padding:10%;
  color:$font-color;
  display:flex;
  align-items:center;
  .content{
    padding:20px;
  }
  img{
    max-width:350px;
  }
}
//snow
.svg-snowscene {
  width: 100%;height:100vh;
}
.snow {
  fill: #fff; 
  animation-name: snowing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  &:nth-child(2n){
    animation-delay: 1.5s;
  }
  &:nth-child(3n){
    animation-delay: 2.3s;
    animation-duration: 3.3s;
  }
  &:nth-child(4n){
    animation-delay: 0.8s;
    animation-duration: 3.2s;
  }
}
/*animation*/
@keyframes snowing {
  0%{ fill-opacity: 1; }
  100% { 
    fill-opacity: 0;
    transform: translateY(400px);
  }
}
@keyframes slideIn-left {
  from{
     margin-right: -900px;
  }
  to {
    margin-left: 0;
  }
}
@keyframes slideIn_right {
  from{
     margin-left: -900px;
  }
  to {
    margin-right: 0;
  }
}


